@model IEnumerable<NinjaApplication.Models.Gear>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="asp-button">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoldValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intelligence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agility)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="custom-font-size">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td class="custom-font-size">
                @Html.DisplayFor(modelItem => item.GoldValue)
            </td>
                <td class="custom-font-size">
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
                <td class="custom-font-size">
                @Html.DisplayFor(modelItem => item.Strength)
            </td>
                <td class="custom-font-size">
                @Html.DisplayFor(modelItem => item.Intelligence)
            </td>
                <td class="custom-font-size">
                @Html.DisplayFor(modelItem => item.Agility)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="asp-button">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="asp-button">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="asp-button red">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
