<head>
    <link rel="stylesheet" href="~/css/inventory.css" />
</head>

<p>Ninja: @Model.Name</p>
<p>Gold in wallet: @Model.Gold</p>
</br>

<p>Total strength: @ViewData["TotalStrength"]</p>
<p>Total agility: @ViewData["TotalAgility"]</p>
<p>Total intelligence: @ViewData["TotalIntelligence"]</p>
</br>

<p>Gear value: @ViewData["TotalGearValue"]</p>


<div class="grid-container">
    <div class="grid-statbox">
        Hands: </br>
        Strength: </br>
        Agility: </br>
        Intelligence:
    </div>
    <div class="grid-statbox">
        Hands: </br>
        Strength: </br>
        Agility: </br>
        Intelligence: 
    </div>
    <div class="grid-statbox">
        Feet: </br>
        Strength: </br>
        Agility: </br>
        Intelligence: 
    </div>
    <img src="https://venturebeat.com/wp-content/uploads/2019/03/popdog-ninja.jpg?w=1200&strip=all" class="img-grid-item" />
    <div class="grid-statbox">
        Necklace: </br>
        Strength: </br>
        Agility: </br>
        Intelligence: 
    </div>
    <div class="grid-statbox">
        Chest: </br>
        Strength: </br>
        Agility: </br>
        Intelligence: 
    </div>
    <div class="grid-statbox">
        Ring: </br>
        Strength: </br>
        Agility: </br>
        Intelligence: 
    </div>
</div>

