<head>
    <link rel="stylesheet" href="~/css/inventory.css" />
</head>

<div class="overview-box">
<p>Ninja: @Model.Name</p>
<p>Gold in wallet: @Model.Gold</p>
</br>

<p>Total strength: @ViewData["TotalStrength"]</p>
<p>Total agility: @ViewData["TotalAgility"]</p>
<p>Total intelligence: @ViewData["TotalIntelligence"]</p>
</br>

<p>Gear value: @ViewData["TotalGearValue"]</p>
</div>

<div class="grid-container">

    @{
        var categories = ViewData["Categories"] as List<string>;
    }

    @foreach(var category in categories) {
        <div class="grid-statbox">
        <p>@category:</P>
        
        @foreach(var item in Model.Inventory) {
            if (item.Gear.CategoryId == category) {
                <p> @item.Gear.Name</p>
                <p>Strength: @item.Gear.Strength</p>
                <p>Agility: @item.Gear.Agility</p>
                <p>Intelligence: @item.Gear.Intelligence</p>
            }
        }
        </div>
    }
    <img src="https://ih1.redbubble.net/image.5015425719.0987/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.jpg" class="img-grid-item" />
</div>

<div class="inventory-buttons">
    <a asp-action="Shop" asp-route-id="@Model.Id" class="button">Shop</a>
    <form method="post" action="@Url.Action("ClearInventory", "Ninja")">
        <input type="hidden" name="ninjaId" value="@Model.Id" />
        <button type="submit" class="red">Clear inventory</button>
    </form>
</div>



