<head>
    <link rel="stylesheet" href="~/css/inventory.css" />
</head>

<p>Ninja: @Model.Name</p>
<p>Gold in wallet: @Model.Gold</p>
</br>

<p>Total strength: @ViewData["TotalStrength"]</p>
<p>Total agility: @ViewData["TotalAgility"]</p>
<p>Total intelligence: @ViewData["TotalIntelligence"]</p>
</br>

<p>Gear value: @ViewData["TotalGearValue"]</p>


<div class="grid-container">
    @for(int i = 1; i <= 6; i++)
    {
        <div class="grid-statbox">
            @if(i <= Model.Inventory.Count)
            {
                var item = Model.Inventory[i - 1];
                <p>@item.Gear.CategoryId: @item.Gear.Name</p>
                <p>Strength: @item.Gear.Strength</p>
                <p>Agility: @item.Gear.Agility</p>
                <p>Intelligence: @item.Gear.Intelligence</p>
            }
            else
            {
                <p>Empty slot</p>
            }
        </div>
    }
    <img src="https://venturebeat.com/wp-content/uploads/2019/03/popdog-ninja.jpg?w=1200&strip=all" class="img-grid-item" />
</div>




<button>Inventory leegmaken</button>

