<head>
    <link rel="stylesheet" href="~/css/inventory.css" />
</head>

<p>Ninja: @Model.Name</p>
<p>Gold in wallet: @Model.Gold</p>
</br>

<p>Total strength: @ViewData["TotalStrength"]</p>
<p>Total agility: @ViewData["TotalAgility"]</p>
<p>Total intelligence: @ViewData["TotalIntelligence"]</p>
</br>

<p>Gear value: @ViewData["TotalGearValue"]</p>


<div class="grid-container">
    @foreach (var item in Model.Inventory)
    {
    <div class="grid-statbox">
        @item.Gear.CategoryId: @item.Gear.Name <br>
        Strength: @item.Gear.Strength <br>
        Agility: @item.Gear.Agility <br>
        Intelligence: @item.Gear.Intelligence
    </div>
    }
    <img src="https://venturebeat.com/wp-content/uploads/2019/03/popdog-ninja.jpg?w=1200&strip=all" class="img-grid-item" />
</div>

<button>Inventory leegmaken</button>

